* {
    border: none;
    border-radius: 0px;
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: linear-gradient(90deg, rgba(12, 14, 18, 0.96), rgba(18, 22, 28, 0.96));
    border-bottom: 1px solid #1f2a38;
    color: #c9d4e5;
}

#workspaces {
    background: #0e1218;
    margin: 5px 5px 5px 5px;
    padding: 0px 6px 0px 6px;
    border-radius: 14px;
    border: solid 1px #1f2a38;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 6px;
    border-radius: 14px;
    color: #8ea1bb;
}

#workspaces button.active {
    color: #0e1218;
    background-color: #7aa2f7;
    border-radius: 14px;
}

#workspaces button:hover {
    background-color: #566b8d;
    color: #0e1218;
    border-radius: 14px;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #custom-randwall, #custom-launcher {
    background: transparent;
    padding: 4px 6px 4px 6px;
    margin: 4px 5px 4px 5px;
    border-radius: 8px;
    border: solid 1px #1f2a38;
}

#custom-date {
    color: #8ab4f8;
}

#custom-power {
    color: #0e1218;
    background-color: #7aa2f7;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#tray {
    background: #0e1218;
    margin: 4px 5px 4px 5px;
    border-radius: 14px;
    padding: 0px 6px;
    border: solid 1px #1f2a38;
}

#clock {
    color: #c9d4e5;
    background-color: #0e1218;
    border-radius: 0px 0px 0px 20px;
    padding-left: 13px;
    padding-right: 15px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #e0af68;
    color: #0e1218;
    border-radius: 5px 5px 5px 5px;
}

#backlight {
    background-color: #0e1218;
    color: #c9d4e5;
    border-radius: 0px 0px 0px 0px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
}

#network {
    color: #c9d4e5;
    border-radius: 8px;
    margin-right: 5px;
}

#pulseaudio {
    color: #c9d4e5;
    border-radius: 8px;
    margin-left: 0px;
}

#pulseaudio.muted {
    background: transparent;
    color: #6f7f95;
    border-radius: 8px;
    margin-left: 0px;
}

#custom-randwall {
    color: #c9d4e5;
    border-radius: 8px;
    margin-right: 0px;
}

#custom-launcher {
    color: #8ab4f8;
    background-color: #0e1218;
    border-radius: 0px 20px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: #566b8d;
    color: #0e1218;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-playerctl {
    background: #0e1218;
    padding-left: 15px;
    padding-right: 14px;
    border-radius: 14px;
    border: solid 1px #1f2a38;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: normal;
    font-style: normal;
}

#window {
    background: #0e1218;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 14px;
    border: solid 1px #1f2a38;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: normal;
    font-style: normal;
}

#custom-wf-recorder {
    padding: 0 20px;
    color: #8ab4f8;
    background-color: #0e1218;
    border-radius: 14px;
    border: solid 1px #1f2a38;
    margin: 4px;
}

#cpu {
    background-color: #0e1218;
    color: #c9d4e5;
    border-radius: 14px;
    margin: 4px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    border: solid 1px #1f2a38;
}

#memory {
    background-color: #0e1218;
    color: #c9d4e5;
    border-radius: 14px;
    margin: 4px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    border: solid 1px #1f2a38;
}

#disk {
    background-color: #0e1218;
    color: #c9d4e5;
    border-radius: 14px;
    margin: 4px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    border: solid 1px #1f2a38;
}

#custom-hyprpicker {
    background-color: #0e1218;
    color: #c9d4e5;
    border-radius: 14px;
    margin: 4px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
    border: solid 1px #1f2a38;
}

#custom-notifications {
    background-color: #0e1218;
    color: #c9d4e5;
    border-radius: 14px;
    margin: 4px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    border: solid 1px #1f2a38;
}
